



.nav-container{
    height: 50px;
    background: grey;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.header{
    display: flex;
    padding-left: 15px;
}
.video-camera{
    padding: 20px 0 0 0;
    width:40px;
    height: 50px;
    
}
.movie-lead{
    padding: 12px 0 0 10px;
}
.reg-logo{
    display: flex; 
    padding: 30px 10px 0  0;
    gap: 15px;
}

h1{
    color:white;
}
.movie-lead h1 span {
    color: red;
    font-size: 40px;
    font-weight: bold;
    vertical-align: baseline; 
  }
.display{
    display: flex;
    justify-content: center;
    background: grey;
}
.movies-display{

}



.card-content{
    padding: 20px 0 0 0;
    display: flex;
    gap:5px; 
}

.card-content1{
    padding: 20px 0 0 0;
    display: flex;
    gap:5px; 
}
.card{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    
}

.genre-content{
    padding: 20px 0 0 0;
    display: flex;
     justify-content: space-evenly; 
}

.genre-content1{
    padding: 20px 0 0 0;
    display: flex;
     justify-content: space-evenly; 
}



.card1{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 0 0 0 5px;

    
}

.card2{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 0 0 0 5px;
   
    
}


.card3{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 0 0 0 5px;
    
}

.image{
    width:322px;
    height: 450px; 
    border-radius: 10px;
    transition: transform 0.4s ease; 
}
.image:hover{
    transform: scale(1.1);
}



.footer-container{
    height: 50px;
    background: grey;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;

}
.register-btn{
    padding: 5px 20px 20px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
}
.login-btn{
    padding: 5px 20px 20px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px; 
}
.logout{
    padding: 5px 20px 20px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;  
}



@media (max-width:765px) {
    h1{
        text-align: center;
        font-size: 12px;
    }
    .video-camera{
        padding: 20px 0 0 0;
        width:20px;
        height: 30px;
         
    }
    .movie-lead{
        padding: 20px 0 0 10px;
    }

    .movie-lead h1 span {
        color: red;
        font-size: 20px;
        font-weight: bold;
        vertical-align: baseline; 
      }
    .card-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    .card-content1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    .genre-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .genre-content1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}