h1{
    color:red;
}

.card-container{
    padding: 20px 0 0 0;
    display: flex;
    gap:5px;
}
.card{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    
}



.card1{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 0 0 0 5px;
    
}

.card2{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 0 0 0 5px;
    
}

.card3{
    width:350px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 0 0 0 5px;
    
}

.image{
    width:322px;
    height: 450px; 
    border-radius: 10px;
}


.card-container1{
    padding: 20px 0 0 0;
    display: flex;
    gap:5px;
}


.footer-container{
    height: 50px;
    background: grey;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;

}