<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>ALL MOVIES</h1>

    
    <% for(let movie of movies){ %>
        <li><a href="/movie/<%= movie._id %>"><%= movie.title %></a></li>
     <% } %>
        <div>


           <a href="/new">Request a Movie </a>
       </div>
</body>
</html>