<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home Page</title>
</head>
<body>
    <h1>ALL MOVIES</h1>

    <div class="card-container">

        <div class="card">
           <img src="/image/moana2.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
         <img src="/image/red one.jpeg" alt="movies" class="image">
        </div>
        <div class="card2">
         <img src="/image/taipei.jpeg" alt="movies" class="image">
        </div>
        <div class="card3">
         <img src="/image/kraven.jpeg" alt="movies" class="image">
        </div>
    </div>

    <div class="card-container1">

        <div class="card">
         <img src="/image/hounds of war.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
         <img src="/image/captain america.jpeg" alt="movies" class="image">
        </div>
        <div class="card2">
         <img src="/image/deadpool and wolverine.jpeg" alt="movies" class="image">
        </div>
        <div class="card3">
            <img src="/image/jackal.jpeg" alt="movies" class="image">
           </div>
    </div>


  

      

    
    <% for(let movie of movies){ %>
        <li><a href="/movie/<%= movie._id %>"><%= movie.title %></a></li>
     <% } %>
        <div>


           <a href="/movie/new">Request a Movie </a>
       </div>



       
    <footer class="footer-container">
        <div class="container">
            <span class="text-muted"> &copy;Movies 2025</span>
        </div>
    </footer>
</body>
</html>